-full_1 = '15 400р.';
-full_2 = '31 900р.';
-full_3 = '53 900р.';

-today_1 = '13 900р.';
-today_2 = '28 900р.';
-today_3 = '47 900р.';

-sale_1 = '1 500р.';
-sale_2 = '3 000р.';
-sale_3 = '6 000р.';

-link_1 = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=4606&clean=true&lg=ru';
-link_2 = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=4610&clean=true&lg=ru';
-link_3 = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=4614&clean=true&lg=ru';

-prep_link = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=4618&clean=true&lg=ru';

section#prices
	.container
		+gt('general-title-prices','Выберите свой вариант участия:')
		.packets
			.row
				.col-md-4.col-sm-4
					.packet
						.packet-head
							h4.packet-head-title 1 модуль
						.packet-body
							h4.packet-body-title Основы новой системной психосоматики по работе с биологией сознания
								small 9 занятий + 3 занятия с ответами на вопросы
							p.more-button(data-toggle="modal" data-target="#modal1") подобнее
						.packet-footer
							p.cost.cost-full Стоимость:
								span=full_1
							p.cost.cost-sale Скидка:
								span#sale-1=sale_1
							p.cost.cost-today Стоимость сегодня:
								span#today-1=today_1
							+b('',link_1,'Выбрать','_blank','link-1')
				.col-md-4.col-sm-4
					.packet
						.packet-head
							h4.packet-head-title 2 модуль
						.packet-body
							h4.packet-body-title Навыки  по работе с травматическим опытом
								small ВСЁ, что входит в первый модуль + ещё 12 занятий + ещё 4 занятия с ответами на вопросы
							p.more-button(data-toggle="modal" data-target="#modal2") подобнее
						.packet-footer
							p.cost.cost-full Стоимость:
								span=full_2
							p.cost.cost-sale Скидка:
								span#sale-2=sale_2
							p.cost.cost-today Стоимость сегодня:
								span#today-2=today_2
							+b('',link_2,'Выбрать','_blank','link-2')
				.col-md-4.col-sm-4
					.packet
						.packet-head
							h4.packet-head-title 3 модуль
						.packet-body
							h4.packet-body-title Работа с заболеваниями. Навыки по работе с психосоматикой заболеваний через психосоматический подход в контексте ГНМ
								small ВСЁ, что входит в первый и второй модули + ещё 15 занятий + ещё 5 занятий с ответами на вопросы
							p.more-button(data-toggle="modal" data-target="#modal3") подобнее
						.packet-footer
							p.cost.cost-full Стоимость:
								span=full_3
							p.cost.cost-sale Скидка:
								span#sale-3=sale_3
							p.cost.cost-today Стоимость сегодня:
								span#today-3=today_3
							+b('',link_3,'Выбрать','_blank','link-3')
		.prepayment
			h4.prepayment-title Акция!!!
			p.prepayment-text Платите 1 000р., бонусом получаете 
				span#prepayment-bonus 1 000р. 
				br
				| На счет зачисляется 
				span#prepayment-credited 2 000р.
			+b('',prep_link,'Оплатить 1 000р.','_blank','prepayment-link')
		.timer
			h4.timer-title Скидка уменьшится через:
			.clock