-full_1 = '<?=$full1;?>';
-full_2 = '<?=$full2;?>';
-full_3 = '<?=$full3;?>';

-today_1 = '<?=$today1;?>';
-today_2 = '<?=$today2;?>';
-today_3 = '<?=$today3;?>';

-sale_1 = '<?=$sale1;?>';
-sale_2 = '<?=$sale2;?>';
-sale_3 = '<?=$sale3;?>';

-link_1 = '<?=$link1;?>';
-link_2 = '<?=$link2;?>';
-link_3 = '<?=$link3;?>';

-prep_link = '<?=$prep_link;?>';

section#prices
	.container
		+gt('general-title-prices','Выберите свой вариант участия:')
		.packets
			.row
				.col-md-4.col-sm-4
					.packet
						.packet-head
							h4.packet-head-title 1 модуль
						.packet-body
							h4.packet-body-title Основы новой системной психосоматики по работе с биологией сознания
								small 9 занятий + 3 занятия с ответами на вопросы
							p.more-button(data-toggle="modal" data-target="#modal1") подобнее
						.packet-footer
							<?php if($now<$date[2]){;?>
								p.cost.cost-full Стоимость:
									span!=full_1
								p.cost.cost-sale Скидка:
									span#sale-1!=sale_1
								p.cost.cost-today Стоимость сегодня:
									span#today-1!=today_1
								+b('',link_1,'Выбрать','_blank','link-1')
							<? } else {;?>
								p.cost.cost-full Стоимость:
									span.unboken!=full_1
								+b('',link_1,'Выбрать','_blank')
							<?php };?>
				.col-md-4.col-sm-4
					.packet
						.packet-head
							h4.packet-head-title 2 модуль
						.packet-body
							h4.packet-body-title Навыки  по работе с травматическим опытом
								small ВСЁ, что входит в первый модуль + ещё 12 занятий + ещё 4 занятия с ответами на вопросы
							p.more-button(data-toggle="modal" data-target="#modal2") подобнее
						.packet-footer
							<?php if($now<$date[2]){;?>
								p.cost.cost-full Стоимость:
									span!=full_2
								p.cost.cost-sale Скидка:
									span#sale-2!=sale_2
								p.cost.cost-today Стоимость сегодня:
									span#today-2!=today_2
								+b('',link_2,'Выбрать','_blank','link-2')
							<? } else {;?>
								p.cost.cost-full Стоимость:
									span.unboken!=full_2
								+b('',link_2,'Выбрать','_blank')
							<?php };?>
				.col-md-4.col-sm-4
					.packet
						.packet-head
							h4.packet-head-title 3 модуль
						.packet-body
							h4.packet-body-title Работа с заболеваниями. Навыки по работе с психосоматикой заболеваний через психосоматический подход в контексте ГНМ
								small ВСЁ, что входит в первый и второй модули + ещё 15 занятий + ещё 5 занятий с ответами на вопросы
							p.more-button(data-toggle="modal" data-target="#modal3") подобнее
						.packet-footer
							<?php if($now<$date[2]){;?>
								p.cost.cost-full Стоимость:
									span!=full_3
								p.cost.cost-sale Скидка:
									span#sale-3!=sale_3
								p.cost.cost-today Стоимость сегодня:
									span#today-3!=today_3
								+b('',link_3,'Выбрать','_blank','link-3')
							<? } else {;?>
								p.cost.cost-full Стоимость:
									span.unboken!=full_3
								+b('',link_3,'Выбрать','_blank')
							<?php };?>
		<?php if($now<$dates[2]):?>
			.prepayment
				h4.prepayment-title Акция!!!
				p.prepayment-text Платите 1 000р., бонусом получаете 
					span#prepayment-bonus 1 000р. 
					br
					| На счет зачисляется 
					span#prepayment-credited 2 000р.
				+b('',prep_link,'Оплатить 1 000р.','_blank','prepayment-link')
			.timer
				h4.timer-title Скидка уменьшится через:
				.clock
		<?php endif;?>